* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

div.Header {
  height: 60px;
}

div.Header-Name {
  padding: 8px;
  margin: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 15px;
  float: right;
}

a {
  padding: 8px;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
