* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

p.Header-Name {
  position: absolute;
  padding: 8px;
  margin: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

a {
  padding: 8px;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  float: right;
}

@media (max-width: 520px) {
  nav.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p.Header-Name {
    position: relative;
    padding: 8px;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }

  a.Nav-Link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }

  a.No-Link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: none;
  }

  .Hamburger-Icon {
    position: absolute;
    bottom: 1px;
    height: 50px;
    color: white;
    cursor: pointer;
    top: 0;
    right: 0;
  }
}
