div.Card-Wrapper {
  width: 30%;
  height: 100%;
  background-color: #868786;
}

div.Card-Content {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #868786;
}

div.Card-Title {
  font-size: 25px;
  font-weight: 530;
  background-color: white;
  color: black;
}

div.Card-Description {
  background-color: white;
  color: black;
}
