div.ToolsAndTechnology-Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  margin: 5px;
  width: 300px;
  height: 100%;
  border-radius: 26px;
  background-color: #030303;
}

div.ToolsAndTechnology-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

h2.ToolsAndTechnology-Title {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: #faf0ca;
}

p.ToolsAndTechnology-Description {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 480;
  color: #faf0ca;
}

img.Image-Icon {
  width: 80px;
  height: 46px;
  filter: brightness(0) saturate(100%) invert(91%) sepia(5%) saturate(1302%)
    hue-rotate(350deg) brightness(107%) contrast(96%);
}

img.VSCode-Icon {
  width: 50px;
  height: 46px;
  margin-left: 10px;
  filter: brightness(0) saturate(100%) invert(91%) sepia(5%) saturate(1302%)
    hue-rotate(350deg) brightness(107%) contrast(96%);
}

svg.Icon-CPU {
  font-size: 30px;
  color: #faf0ca;
}
