div.About-Me-Page-Container {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 100px;
  gap: 20px;
  background-color: #fefefa;
}

div.About-Me-Title {
  position: relative;
  margin: auto;
  color: white;
  font-size: 40px;
  font-weight: 550;
}

div.About-Me-Description {
  position: relative;
  margin: auto;
  width: 60%;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
