div.Profile-Picture {
  position: relative;
  bottom: 200px;
  left: 800px;
  width: 350px;
}

button.Contact-Me {
  position: relative;
  bottom: 350px;
  left: 80px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-weight: 300;
  color: #00001a;
  background-color: #1bf77e;
}
