div.Recomendations-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px 20px;
  background-color: #faf0ca;
  // background-image: url("../assets/css-pattern-by-magicpattern.png");
}

h1.Recomendations-Title {
  padding: 20px;
  margin: 20px;
  min-width: 0;
  min-height: 0;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #003d37;
}

@media (max-width: 640px) {
  h1.Recomendations-Title {
    font-size: 30px;
  }
}
