div.SkillsAndExperience-Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #003d37;
}

div.SkillsAndExperience-Cards {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 94%;
}

div.SkillsAndExperience-ExperienceAndTools-Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1.SkillsAndExperience-Title {
  position: relative;
  padding: 10px;
  margin: 10px;
  left: 38px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #faf0ca;
}

p.SkillsAndExperience-Description {
  position: relative;
  left: 38px;
  padding: 0 10px 10px 10px;
  margin: 0 10px 10px 10px;
  width: 92%;
  font-size: 18px;
  font-family: "DM Sans";
  font-weight: 500;
  color: #faf0ca;
}

@media (max-width: 640px) {
  div.SkillsAndExperience-Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.SkillsAndExperience-ExperienceAndTools-Wrapper {
    align-items: center;
    justify-content: center;
  }

  h1.SkillsAndExperience-Title {
    position: relative;
    left: 0px;
    text-align: center;
  }

  p.SkillsAndExperience-Description {
    position: relative;
    left: 0px;
    text-align: center;
  }
}
