div.SkillsAndExperience-Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #003d37;
}

div.SkillsAndExperience-Cards {
  display: flex;
  flex-direction: row;
}

div.SkillsAndExperience-ExperienceAndTools-Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1.SkillsAndExperience-Title {
  padding: 10px;
  margin: 10px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #faf0ca;
}

p.SkillsAndExperience-Description {
  padding: 0 10px 10px 10px;
  margin: 0 10px 10px 10px;
  font-size: 18px;
  font-family: "DM Sans";
  font-weight: 500;
  color: #faf0ca;
}

@media (max-width: 640px) {
  div.SkillsAndExperience-Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
